.profile-container {
  margin-top: 200px;
}

.profile-card {
  background-color: #EBE1DB;
  border: 2px solid #934A21;
  border-radius: 8px;
  width: 400px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease; 
}

.profile-image-container {
  border: 2px solid #934A21;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.profile-info h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #934A21;
  letter-spacing: 0.5px; 
}

.profile-info p {
  font-size: 16px;
  margin: 5px 0;
  color: #2A2829;
}

.profile-image-edit-button {
  position: absolute;
  top: 110px;
  left: 25px;
  z-index: 1;
  background-color: #8B4513;
  border: none; 
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffffff; 
  padding: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.2s; 
}

.profile-image-edit-button:hover {
  background-color: rgba(0, 0, 0, 0.7); 
}

.profile-image-edit-button input[type="file"] {
  display: none;
}
