.container {
  margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button-container button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #A78262;
  color: white;
}

.image-container {
  text-align: center;
  margin-bottom: 20px;
}

.image-container img {
  max-width: 50%;
  height: auto;
}

.description-container {
  margin-top: 20px;
  text-align: center;
}

.description-text {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
}

.secondary-button-container {
  display: grid;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.secondary-button-container button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}

.secondary-image {
  max-width: 100px;
  max-height: 100px;
}

.navbar {
  z-index: 1000; /* Ensure the navbar is above other elements */
}

.like-dislike-buttons {
  position: relative;
  z-index: 500; /* Ensure buttons are above most elements but below the navbar */
}

.button-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
  height: 50%;
  padding: 8px 16px; /* Por ejemplo, puedes reducir el padding */

}

.button-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

@media (max-width: 768px) {
  .like-dislike-button {
    font-size: 16px;
    padding: 10px;
    width: 100%; /* Asegura que el botón ocupe todo el ancho disponible */
  }

  .secondary-button-container {
    grid-template-columns: 1fr;
  }

  .button-container {
    flex-direction: column; /* Cambia la dirección de los elementos a columna */
  }

  .button-subcontainer {
    margin: 20px 0; /* Añade margen arriba y abajo para separar los botones */
  }
}