.custom-carousel-image {
    width: 100%;
    object-fit: contain !important;
    margin: 0 auto; /* Centra horizontalmente las imágenes */
    display: block;
}
.SHIRT{
    height: 30vh;
}
.PANTS{
    height: 35vh;
}
.SHOES{
    height: 15vh;
}
.HAT{
    height: 15vh;
}
.ACCESSORIES{
    height: 15vh;
}
#left-arrow {
    font-size: 128px !important;
    color: #86654B !important;
}

#right-arrow {
    font-size: 128px !important;
    color: #86654B !important;
}