.custom-carousel-image {
    object-fit: cover;
    margin: 0 auto; /* Centra horizontalmente las imágenes */
    display: block;
}
.SHIRT{
    height: 35vh;
}
.PANTS{
    height: 35vh;
}
.SHOES{
    height: 35vh;
}
.HAT{
    height: 35vh;
}
.ACCESORY{
    height: 35vh;
}
#left-arrow {
    font-size: 128px !important;
    color: #86654B !important;
}

#right-arrow {
    font-size: 128px !important;
    color: #86654B !important;
}