
.section .icons .buttonT{
    background-color: inherit;
    border: none;
}
.section{
    height: 100%;
    align-items: center !important;
}
.text-sections{
    color: #A4826D; 
}
.recommendations{
    color: #86654B;
    background-color: #D9D7D6;
    border: none;
    border-radius: 0%;
    height: fit-content !important;
    padding: 0 !important;
}

.adding{
    background-color: inherit !important;
    color: #86654B !important;
    border: 1px solid !important;
}

.adding:hover{
    background-color: #A4826D !important;
    color: #2A2829 !important;
}