.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  background-color: #A4826D;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.fab:hover {
  background-color: #8a6a59;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.fab:active {
  background-color: #71564c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}