

.language-button {
    background-color: #D9BFAF; 
    color: #2A2829;
    border: 2px solid #934A21;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
    width: 100%;    
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.language-button:hover {
    background-color: #C4A68A; 
    transform: translateY(-2px);
}

.close-button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #934A21;
}



  
