.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EBE1DB;
    border: 2px solid #934A21;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    max-width: calc(100% - 40px); /* Ajuste para evitar desbordamiento horizontal */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    z-index: 999; /* Asegura que esté detrás del modal */
}

.modal-header {
    font-size: 20px;
    margin-bottom: 15px;
    color: #934A21;
}

.language-button {
    background-color: #D9BFAF; 
    color: #2A2829;
    border: 2px solid #934A21;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
    width: 100%;    
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.language-button:hover {
    background-color: #C4A68A; 
    transform: translateY(-2px);
}

.close-button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #934A21;
}



  