
.custom-link {
    display: block; 
    text-decoration: none; 
    color: inherit; 
    padding: 5px 0px;
}

.detailsInput{
    background: #D1C8C1 !important;
    color: #12100f !important;
    border: none;
}