.recommendations{
    color: #A4826D;
    background-color: #D9D7D6;
    border: none;
    border-radius: 15%;
}
.custom-link {
    display: block; 
    text-decoration: none; 
    color: inherit; 
    padding: 5px 0px;
}
