/* Estilos generales para la barra de navegación */
.navbar {
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 1px solid #2A2829;
    padding: 12px 0;
    background-color: #FFF;
}

/* Estilización de los enlaces de la barra de navegación */
.navbar-nav .nav-link {
    color: #2A2829;
    padding: 8px 12px;
    transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link.selected {
    color: #934A21;
    font-weight: bold;
    background-color: #f8f8f8;
}

/* Estilos para la marca dentro de la barra de navegación */
.navbar-brand a {
    color: #2A2829;
    transition: color 0.2s ease;
}

.navbar-brand a:hover {
    color: #1f0000;
}

/* Estilos para los botones personalizados */
.btn-sample, .btn-2 {
    color: #ffffff;
    background-color: #6F4E37;
    border-color: #6F4E37;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.btn-sample:hover, .btn-2:hover {
    background-color: #695649;
    border-color: #6F4E37;
}

.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample,
.btn-2:focus,
.btn-2:active, 
.btn-2.active, 
.open 
.dropdown-toggle.btn-2 {
    color: #ffffff;
    background-color: #695649;
    border-color: #6F4E37;
    background-image: none;
}

.btn-sample.disabled, 
.btn-sample[disabled], 
fieldset[disabled] 
.btn-sample,
.btn-2.disabled, 
.btn-2[disabled], 
fieldset[disabled] .btn-2 {
    background-color: #6F4E37;
    border-color: #6F4E37;
}

/* Estilos para la imagen de perfil en la barra de navegación */
.profile-image1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    object-fit: cover;
    border: 2px solid #FFF;
}
